/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/
.loox-rating.loox-widget {
    margin-bottom: 8px;
}
.productView-price .price {
    margin-bottom: 10px;
}
.quantity__container {
    display: block;
    width: 150px;
    position: relative;
    margin-top: 6px;
    margin-bottom: 14px;
}
.productView-title {
    font-size: 24px;
   
}
.productView-price .price.price--medium .price-item .money {
    font-size: 20px;
    line-height: 1.2;
}
