/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/
.loox-rating.loox-widget {
    margin-bottom: 8px;
}
.productView-price .price {
    margin-bottom: 10px;
}
.quantity__container {
    width: 150px;
}